@import "tailwindcss";

:root {
  --color-primary: #FF7847;
  --color-primary-light: #FFF7ED;
  --color-primary-dark: #FF6A3D;
  --color-background: #FBF6F4;
  --color-surface: #FFFFFF;
  --color-text-primary: #101828;
  --color-text-secondary: #4A5565;
  --color-text-muted: #6A7282;
  --color-border: #EAEAEA;
  --color-active: #D0F1ED;
  --color-full: #FFE4DA;
  --color-maintenance: #FEF2D3;
}

body {
  background-color: #FBF6F4;
  color: #101828;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
